@import "Fonts";

.about_body {
    margin: 0;
    background: $page-background;
    max-width: 1200px;
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 100px auto;
};

.about_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
};

.profile_picture {
    width: 250px;
    height: 250px;
    border-radius: 20px;
};

h1 {
    text-align: center;
    @include h1;
};

.about_text {
    @include para;
    width: 500px;
}

@media screen and (max-width: 600px) {
    .about_text{
        width: 200px;
        height: 300px;
        overflow: scroll;
    };
};