@import "Fonts";

.about_body {
    margin: 0;
    background: $page-background;
    max-width:  1900px;
    width: 100%;
    padding-bottom: 25px;
  
};

.about_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
};

.profile_picture {
    width: 450px;
    height: 450px;
    border-radius: 20px;
};

h1 {
    text-align: center;
    @include h1;
    margin: 0;
    padding-top: 25px;
};

.about_text {
    @include para;
    width: 500px;
    padding-top: 25px;
}

@media screen and (max-width: 600px) {
    .about_text{
        width: 300px;
        height: 300px;
        overflow: scroll;
    };
    .profile_picture {
        width: 200px;
        height: 200px;
    }
};