
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Mulish:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

//Header and footer colors//
$header-footer-color: linear-gradient(89.9deg, rgb(208, 246, 255) 0.1%, rgb(255, 237, 237) 47.9%, rgb(255, 255, 231) 100.2%);
$page-background: rgb(255, 237, 237, 0.2);


//Styling for logo//
@mixin logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
};

//Styling for headers//
