@import "Fonts";

.header_body {
    margin: 0;
    position: relative;
};

// LOGO //
.header_logo {
    height: 100px;
    max-width: 1900px;
    width: 100%;
    background: $header-footer-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
};

@media screen and (max-width: 350px) {
    .header_logo{
        width: 350px;
    };
    .header_menu {
        width: 350px;
    }
}

.logo {
    @include logo;
};

.header_icon {
    color: black;
    font-size: 40px;
};

// LINK MENU //

.header_menu {
    height: 50px;
    max-width: 1900px;
    width: 100%;
    background: $page-background;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 3px rgb(208, 246, 255);
};  

.active_link {
    @include links;
    font-weight: 500;
}

.inactive_link {
    @include links;
    font-weight: 300;
};

.inactive_link:hover {
    text-decoration: underline;
    cursor: pointer;
}