@import "Fonts";

.sideboard_container {
    width: 100px;
    height: 400px;
    background: $page-background;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: solid 3px  rgb(208, 246, 255);
}; 

.active_link {
    @include links;
    font-weight: 500;
}

.inactive_link {
    @include links;
    font-weight: 300;
};

.inactive_link:hover {
    text-decoration: underline;
    cursor: pointer;
}