
@import "Fonts";

.skills_body {
    margin: 0;
    background: $page-background;
    max-width: 1200px;
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 100px auto;
};

h2 {
    @include h2;
};

h3 {
    @include h3;
};