
@import "Fonts";

.work_body {
    padding: 25px;
    background: $page-background;
    max-width: 1900px;
    width: 100%;
};


/* 
h2 {
    @include h2;
};

.skills_section {
    border-bottom: 1px solid black;
} */